*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	padding: 0;
	margin:0;
	
}
.container{
	position:relative;
	
	 margin-top:100px;
}
.container img{
	display:block;
	width:100%;
	opacity:0.4;
	
}

nav{
	position:fixed;
	z-index:10;
	left:0; right:0; top:0; bottom:0; 
	font-family:'Josefin Sans', sans-serif;
	padding:0 5%;
	height:100px; 
	background-color:rgb(3, 3, 73);
}
nav .logo{
	float:left;
	width:40%; 
	height:100%; 
	display:flex; 
	align-items:center;
	font-size:24px; 
	color:white;
}
nav .links{
	float:right; 
	margin:0; 
	padding:0; 
	width:60%; 
	height:100%; 
	display:flex;
	justify-content:space-around;
	align-items:center;
}

nav .links li{
	list-style:none;
}
nav .links a {
	
	display:block;
	padding:1em;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
nav .links a:hover{
	color:red;
	transition: 0.3s;
}
nav .links a:active{
	color:wheat;
	transform: scale(1.2,1.1);
	transition: 0.3s;
}
#nav-toggle{
	position: absolute;
	top: -100px;
}
nav .icon-burger{
	display: none;
	position: absolute;
	right:5%;
	top:50%;
	transform: translateY(-50%);
}
nav .icon-burger .line{
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}



/* home */

#HomePage{
	height: 100%;
}
.Intro{
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 10%;
	margin-bottom: 10%;
	/* border:5px solid blue; */
}
.Intro .h1{
	font-size: 50px;
	color: #212121;
	margin-bottom: 20px;
	margin-top: 10px;

}
span{
	color:rgb(61, 12, 173)
}
.Intro p{
	color:#555;
	line-height: 22px;
	margin-top: 10;
	font-size: 15;
}
.Intro .CV a{
	background: #212121;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}
.Intro a:hover{
	color: pink;
}
.Intro a:active{
	transform: scale(1.03);
	color: wheat;
	transition: 0.3s;
}

.CV{
	font-weight: bold;	
	/* border:5px solid red; */
}
.CV h1{
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 32;
}
.CV p{
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 17;
}
.CV img{
	border-radius: 50%;
	float: right;
	
	width:40%;
	
 } 
.Well h1{
	font-style: italic;
	color: rgb(50, 3, 3);
	/* font-family: 'Montserrat', regular 400; */
	margin: 5% 5% 5% 0;
	font-family: monotype corsiva;
	font-weight: bold;
	font-size: 40;
}
.Photo{	
	display: none;
}

/* time */
.DT{
	display: flex;
	justify-content: center;
	align-items: center;
}
.datetime{
	padding: 15px 10px;
	border: 3px solid #2e95e3;
	border-radius: 5px;
	width: 60%;
	-webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255,255,255,0.1));
	background-color: #212121;
	transition: 0.5s;
	transition-property: all;
}
.datetime:hover{
	background: #022f51;
	box-shadow: 0 0 30px #2e94e3;
}
.date{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
	color: white;
	text-transform: uppercase;
}
.time{
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.date span, .time span{
	color: white;
}
.time span:not(:last-child){
	position: relative;
	margin: 0 6px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 3px;
}
.time span:last-child{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 0 5px;
	border-radius: 3px;
	background-color: #053960;
	color: white;
	
}

/* about */

/* #AbtSection{
	
} */
.AboutSection{
	padding:5%;
	margin-top: 10%;
	padding-right: 8%;
	padding-top: 10%;
	text-align: justify;
	font-size: 20;
	/* background-color: wheat; */
	background-image: url("./About.jpg");
}
.AboutSection h1{
	margin-top: 10%;
	text-align: center;
	color: white;
	font-variant: small-caps;
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 4%;
}
.AboutSection p{
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
}
.Abt img{
	float: left;
	width: 30%;
	border-radius: 50%;
	margin-right: 2%;
	margin-bottom: 2%;
	filter: brightness(120%);
	
}
.wp{
	padding: 0 10%;
	color: white;

}
.wp li{
	margin: 5px;
	color: white;
	
}
.wp li a{
	margin: 5px;
	color: white;
	text-decoration: none;
	border:1px solid transparent;
	background-color: red;
	padding: 0 5px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 3px 1px 8px grey inset;
}
.wp li a:hover{
	color: teal;
}
.wp li a:active{
	transform: scale(1.03);
	color: wheat;
	transition: 0.3s;
}


/* gallery */
.Gallery{
	width: 100%;
	height: 100vh;
	background: #222;
	/* padding-bottom: 8%; */
	/* overflow-y:scroll; */
	/* resize: vertical; */
}
/* .Gallery h1{
	padding-top: 10%;
	text-align: center;
	color: white;
	font-variant: small-caps;
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 1%;
	font-weight: bold;
} */
.Gallery .gall{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	/* overflow:auto; */
	/* resize: vertical; */
}
.swiper{
	width: 80%;
	height: fit-content;
}
.swiper-slide img{
	width: 100%;
	border-radius: 50px;
	/* height: 50%; */
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
	/* color: black; */
	font-weight: bold;
} 
.swiper .swiper-pagination-bullet-active{
	background: white;
	
}

/* Project */
#Project{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0;
	height: 100%;
	padding-top: 10%;
	/* margin-top: 10%; */
}
.Pro{
	/* height: 100%; */
	padding: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color:rgb(164, 204, 239); */
}
.Pro h1{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 5px;
	margin-top: 8%;
	font-variant: small-caps;
	font-weight: bold;
}
.Pro p{
	color: #27282ebf;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 1.1rem;
	margin-bottom: 1.8rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}
.ProContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	margin-top:2%;
	
}
.ProBox{
	width: 330px;
	height: 370px;
	padding: 10px;
	border: 1px solid #272626;
	background-color: aliceblue;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: -5px -5px 3px 2px grey;
}
.ProBoxImg img{
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
}
.ProBox .BoxCaption li{
	width: 290px;
	border-radius: 5px;
	margin-top: 10px;
	background-color: rgb(48, 12, 6);
	list-style: none;
	font-size: 1.03rem;
	letter-spacing: 1px;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: 10px;
	transition: ease .20s;
	padding: 10px 5px;
	text-align: center;
	cursor: pointer;
	box-shadow: -3px -3px 5px 2px grey;
}
.ProBox .BoxCaption li a{
	text-decoration: none;
	color: white;	
}
.ProBox .BoxCaption li:hover, .ProBoxImg img:hover{
	transform: scale(1.03);
	transition: 0.3s;
}



/* #CntcMe{
  
} */
.ContactMe{
	padding: 40px 15%;
	padding-top: 13%;
	background-color: #3d3a3a;
	/* margin: 0; */
	/* box-sizing: border-box; */
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-gap: 6rem;
	font-family: 'Josefin Sans', sans-serif;
}
.CntcForm h1{
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.CntcForm p{
	color: #c6c9d8bf;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 1.1rem;
	margin-bottom: 3.8rem;
	text-align: center;

}
.CntcForm form{
	position: relative;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	
}
.CntcForm form input, 
form textarea{
	width:55%;
	padding: 17px;
	border: none;
	outline: none;
	background: #484548;
	color: #fff;
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
	border-radius: 10px;
}
.message{
	resize: none;
	height:200px;
}
.CntcForm form .btn{
	
	display: inline-block;
	background: #f9004d;
	font-size: 1.03rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: 10px;
	width: 20%;
	transition: ease .20s;
	cursor: pointer;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;	
}
.CntcForm form .btn:hover{
	border: 2px solid #f9004d;
	background: transparent;
	transform: scale(1.03);
}






/* footer */

/* #Footer{

} */
.footer{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	background-color: #ededed;
	padding: 40px 0;
}
.footer .social{
	text-align: center;
	padding-bottom: 25px;
	color: #4b4c4d;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 80%;
	margin: auto;
}
.footer .social a{
	font-size: 24px;
	color: inherit;
	border: 1px solid #ccc;
	 width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center; 
	align-items: center;
	border-radius: 50%;	
	margin: 0 8px;
	opacity: 0.85;
	padding: 5px;
}
.footer .social a:hover{
	opacity: 0.98;
}
.footer ul{
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	
}
.footer ul{
	text-align: center;
	color: inherit;
}
.footer ul li{
	display: inline-block;
	padding: 0 15px;
	text-align: center;
}
.footer ul li a{
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}
.footer ul li a:hover{
	opacity: 1;
}
.copyright{
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
}
/* .footer{
	margin: 5%;
	padding: 0 0 3% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}
.footer li{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* border: 5px solid #212121; */
	/* display: flex;
	font-weight: bold;
	justify-content: space-between;
	column-count: 2;
	color: black;
}
.footer li a{
	text-decoration: none;
	color: black;
	justify-content: center;
}

.footer li img{
	width:30px ;
	float: left;
	
} */ 
/* responsive */

/* @media (max-width:1200px){
	.footer{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}	
	.footer li{
	margin: 5% 0;
	}
	.footer li img{
		width: 40px;
	}
} */
@media (max-width:760px) {
	.datetime{
		width: 95%;
	}
	.date{
		font-size: 15px;
	}
	.time{
		font-size: 35px;
	}
	nav .logo{
		float: none;
		width: auto;
		justify-content: center;
	}
nav .links{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0; right: 0; top: 100px; bottom: 100%;
		width: auto; height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		transition: all 0.5s ease-in-out;
	}
nav .links a{
		font-size: 20px;
	}

nav .icon-burger{
		display: block;
	}


/* .CV{
	
	margin-top: 15%;
}
.CV img{
	display: none;
}
.Photo{	
	margin-top:10%;
	width: 100%;
	
	display: flex;
	justify-content: center;
}
.Photo img{
	
	width:70%;
	border-radius: 50%;
	
} */
.CntcForm form input, form textarea{
	width: 100%;
}
.CntcForm form .btn{
	width: 50%;
}
/* .footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}	
.footer li{
margin: 5%;
} */
.ProBox{
	width: 100%; height: auto;
}
.ProBoxImg img{
	width: 100%; height: auto;
}
.ProBox .BoxCaption li{
	width: 100%; height: auto;
}
.AboutSection{
	margin-top: 25%;
	padding-top: 25%;
}
.AboutSection h1{
	margin-top: 10%;
}
.Gallery h1{
	padding-top: 13%;
}
}
nav :checked ~ .links{
	bottom: 0;
}
nav :checked ~ .icon-burger .line:nth-child(1){
	transform: translate(10px); rotate:(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3){
	transform: translate(-10px); rotate:(-225deg)
}
nav :checked ~ .icon-burger .line:nth-child(2){
	opacity: 0;
}
@media (max-width:1570px) {
	/* .ContactMe{
		padding: 80px 3%;
		transition: 0.2s;
	} */
	.ContactMe{
		display: block;
	}
	
}
@media screen and (min-width:450px) and (max-width:960px){
	/* .Gallery {
		padding-top: 8%;
	} */
}

@media screen and (max-width:450px){
	.wp li{
		margin: 0px;
		color: white;
		font-size: 1.03em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	/* .Gallery {
		padding-top: 24%;
	} */
	/* .wp li a{
		margin: 0px;
		color: white;
		text-decoration: none;
		border:1px solid transparent;
		background-color: red;
		padding: 0x;
		margin: 0;
		border-radius: 5px;
		box-shadow: 3px 1px 8px grey inset;
	}
	.wp li a:hover{
		border: 2px solid red;
		background-color: transparent;
		transition: ease 0.3s; */
	

}
@media screen and (max-width:520px){
.CV{
	
	margin-top: 15%;
}
.CV img{
	display: none;
}
.Photo{	
	
	margin-top:10%;
	width: 100%;
	
	display: flex;
	justify-content: center;
}
.Photo img{
	
	width:70%;
	border-radius: 50%;
	
}
}

/* @media screen and (max-width:1100px){
	.Gallery{
		height: 100%;
	}
}
@media screen and (max-width:950px){
	.Gallery{
		height: 60%;
	}
}
@media screen and (max-width:700px){
	.Gallery{
		height: 80%;
	}
}*/
/* @media screen and (max-width:550px){
	.Gallery{
		height: 70vh;
	}
} */
/*@media screen and (max-width:450px){
	.Gallery{
		height: 60%;
	}
} */
